In [1]:
# Data Preparation
# Loading the CSV data from the file (using appropriate pandas functions) and checking whether the loaded data is equivalent to the data in the source CSV file.
# Then, we have to clean the data. We need to deal with all the potential issues/errors in the data appropriately (such as: typos, extra whitespaces, sanity checks for impossible values, and missing values etc). "
# Defining a variable vehicle_v and assigning it to the value of automobile.csv.

vehicle_v='automobile.csv'

In [2]:
#For loading  pandas package into the memory, and give it an alias pd.

import pandas as pd

In [3]:
#Defining a variable vehicle and assigning it to  the value returned by pd.read_csv ,which is the read function in package pandas. 

vehicle = pd.read_csv(vehicle_v, sep='#', decimal='.', header= None, names=['symboling','normalized-losses','make','fuel-type','aspiration','num-of-doors','body-style',
                                                                    'drive-wheels','engine-location','wheel-base','length','width','height','curb-weight','engine-type',
                                                                    'num-of-cylinders','engine-size','fuel-system','bore','stroke','compression-ratio','horsepower',
                                                                    'peak-rpm','city-mpg','highway-mpg','price'])

In [4]:
vehicle_v

'automobile.csv'

In [5]:
#shows the types of each column

vehicle.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [6]:
#counts the frequency of occurence of each value.

vehicle['make'].value_counts()

toyota           32
volvo            29
nissan           17
mazda            17
honda            13
mitsubishi       13
subaru           12
volkswagen       12
peugot           10
volvo             9
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
 volvo            3
vol00112ov        3
renault           2
Nissan            1
mercury           1
Peugot            1
Name: make, dtype: int64

In [7]:
#removes the white spaces

vehicle['make']= vehicle['make'].str.strip()

In [8]:
#used for replacing values

vehicle['make'].replace('vol00112ov', 'volvo', inplace=True)
vehicle['make'].replace('Nissan','nissan',inplace=True)
vehicle['make'].replace('Peugot','peugot',inplace=True)

In [9]:
#counts the frequency of occurence of each value.
#checking if all the values are unique.

vehicle['make'].value_counts()

volvo            44
toyota           32
nissan           18
mazda            17
honda            13
mitsubishi       13
volkswagen       12
subaru           12
peugot           11
dodge             9
bmw               8
mercedes-benz     8
plymouth          7
audi              7
saab              6
porsche           5
isuzu             4
alfa-romero       3
jaguar            3
chevrolet         3
renault           2
mercury           1
Name: make, dtype: int64

In [10]:
#counts the frequency of occurence of each value.

vehicle['fuel-type'].value_counts()

gas       207
diesel     27
Gas         2
Diesel      1
gas         1
Name: fuel-type, dtype: int64

In [11]:
#removes the white spaces

vehicle['fuel-type']= vehicle['fuel-type'].str.strip()

In [12]:
#used for replacing values

vehicle['fuel-type'].replace('Gas', 'gas', inplace=True)
vehicle['fuel-type'].replace('Diesel', 'diesel', inplace=True)

In [13]:
#counts the frequency of occurence of each value.
#checking if all the values are unique.

vehicle['fuel-type'].value_counts()

gas       210
diesel     28
Name: fuel-type, dtype: int64

In [14]:
#counts the frequency of occurence of each value.

vehicle['aspiration'].value_counts()

std         175
turbo        57
turrrrbo      3
Std           2
std           1
Name: aspiration, dtype: int64

In [15]:
#removes the white spaces

vehicle['aspiration']= vehicle['aspiration'].str.strip()

In [16]:
#used for replacing values(typos)

vehicle['aspiration'].replace('turrrrbo', 'turbo', inplace=True)
vehicle['aspiration'].replace('Std', 'std', inplace=True)

In [17]:
#counts the frequency of occurence of each value.
#checking if all the values are unique.

vehicle['aspiration'].value_counts()

std      178
turbo     60
Name: aspiration, dtype: int64

In [18]:
#counts the frequency of occurence of each value.

vehicle['num-of-doors'].value_counts()

four     142
two       89
fourR      3
Four       1
four       1
Name: num-of-doors, dtype: int64

In [19]:
#removes the white spaces

vehicle['num-of-doors']= vehicle['num-of-doors'].str.strip()

In [20]:
#used for replacing values(typos)

vehicle['num-of-doors'].replace('fourR', 'four', inplace=True)
vehicle['num-of-doors'].replace('Four', 'four', inplace=True)

In [21]:
#counts the frequency of occurence of each value.
#checking if all the values are unique.

vehicle['num-of-doors'].value_counts()

four    147
two      89
Name: num-of-doors, dtype: int64

In [22]:
#counts the frequency of occurence of each value.

vehicle['body-style'].value_counts()

sedan          124
hatchback       70
wagon           26
hardtop          8
convertible      6
sedan            2
Wagon            1
Sedan            1
Name: body-style, dtype: int64

In [23]:
#removes the white spaces

vehicle['body-style']= vehicle['body-style'].str.strip()

In [24]:
#used for replacing values(typos)

vehicle['body-style'].replace('Sedan', 'sedan', inplace=True)
vehicle['body-style'].replace('Wagon', 'wagon', inplace=True)

In [25]:
#counts the frequency of occurence of each value.
#checking if all the values are unique.

vehicle['body-style'].value_counts()

sedan          127
hatchback       70
wagon           27
hardtop          8
convertible      6
Name: body-style, dtype: int64

In [26]:
#counts the frequency of occurence of each value.

vehicle['drive-wheels'].value_counts()

fwd     118
rwd     108
4wd       9
rwd       1
fwd       1
Fwd       1
Name: drive-wheels, dtype: int64

In [27]:
#removes the white spaces

vehicle['drive-wheels']= vehicle['drive-wheels'].str.strip()

In [28]:
#used for replacing values(typos)

vehicle['drive-wheels'].replace('Fwd', 'fwd', inplace=True)

In [29]:
#counts the frequency of occurence of each value.
#checking if all the values are unique.

vehicle['drive-wheels'].value_counts()

fwd    120
rwd    109
4wd      9
Name: drive-wheels, dtype: int64

In [30]:
#counts the frequency of occurence of each value.

vehicle['engine-location'].value_counts()

front     232
REAR        1
front       1
Rear        1
FRONT       1
rear        1
Front       1
Name: engine-location, dtype: int64

In [31]:
#removes the white spaces

vehicle['engine-location']= vehicle['engine-location'].str.strip()

In [32]:
#used for replacing values(typos)

vehicle['engine-location'].replace('Front', 'front', inplace=True)
vehicle['engine-location'].replace('FRONT', 'front', inplace=True)
vehicle['engine-location'].replace('REAR', 'rear', inplace=True)
vehicle['engine-location'].replace('Rear', 'rear', inplace=True)

In [33]:
#counts the frequency of occurence of each value.
#checking if all the values are unique.

vehicle['engine-location'].value_counts()

front    235
rear       3
Name: engine-location, dtype: int64

In [34]:
#counts the frequency of occurence of each value.

vehicle['fuel-system'].value_counts()

mpfi     116
2bbl      66
idi       28
1bbl      11
spdi       9
4bbl       3
mpfi       2
mfi        1
Mpfi       1
spfi       1
Name: fuel-system, dtype: int64

In [35]:
#removes the white spaces

vehicle['fuel-system']= vehicle['fuel-system'].str.strip()

In [36]:
#used for replacing values(typos)

vehicle['fuel-system'].replace('Mpfi', 'mpfi', inplace=True)

In [37]:
#counts the frequency of occurence of each value.
#checking if all the values are unique.

vehicle['fuel-system'].value_counts()

mpfi    119
2bbl     66
idi      28
1bbl     11
spdi      9
4bbl      3
mfi       1
spfi      1
Name: fuel-system, dtype: int64

In [38]:
#checks the number of nulls in the  column.

vehicle.isnull().sum()

symboling             0
normalized-losses    47
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [39]:
#replacing the null values with the mean values

vehicle['normalized-losses'].fillna(vehicle['normalized-losses'].mean(axis=0), inplace=True)
vehicle['bore'].fillna(vehicle['bore'].mean(axis=0), inplace=True)
vehicle['stroke'].fillna(vehicle['stroke'].mean(axis=0), inplace=True)
vehicle['horsepower'].fillna(vehicle['horsepower'].mean(axis=0), inplace=True)
vehicle['peak-rpm'].fillna(vehicle['peak-rpm'].mean(axis=0), inplace=True)
vehicle['price'].fillna(vehicle['price'].mean(axis=0), inplace=True)

In [40]:
#replacing the null values with two in this case. 

vehicle['num-of-doors'].fillna('two',inplace=True)

In [41]:
#checks the number of nulls in the  column.
#checking if all the null values have been removed.

vehicle.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [42]:
#counts the frequency of occurence of each value.

vehicle['price'].value_counts()

22625.0    6
21485.0    6
0.0        6
19045.0    6
16845.0    6
          ..
6377.0     1
30760.0    1
16925.0    1
15998.0    1
18920.0    1
Name: price, Length: 188, dtype: int64

In [43]:
#replacing the null value with the mean value.

vehicle['price'].replace(0.000000,(vehicle['price'].mean(axis=0)),inplace=True)

In [44]:
#counts the frequency of occurence of each value.
#checking if all the null values have been removed.

vehicle['price'].value_counts()

13696.081197    10
19045.000000     6
22470.000000     6
22625.000000     6
21485.000000     6
                ..
6377.000000      1
30760.000000     1
16925.000000     1
15998.000000     1
18920.000000     1
Name: price, Length: 187, dtype: int64

In [45]:
#counts the frequency of occurence of each value.

vehicle['symboling'].value_counts()

 0    67
 1    54
-1    52
 2    32
 3    27
 4     3
-2     3
Name: symboling, dtype: int64

In [46]:
#replacing the symboling values 4 which is out of the range to a specific value (3 in this case)

vehicle['symboling'].replace(4, 3, inplace=True)

In [47]:
#checking the range of normalized losses is between 65 and 256 

vehicle[(vehicle['normalized-losses'] < 65 ) | (vehicle['normalized-losses'] > 256) ]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
205,-2,25.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
218,-2,25.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
231,-2,25.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0

In [48]:
#replacing the out of range values with the mean values.

vehicle['normalized-losses'].replace(25.0,(vehicle['normalized-losses'].mean(axis=0)),inplace=True)

In [49]:
# For checking the range 

vehicle[(vehicle['wheel-base'] < 86.6 ) | (vehicle['wheel-base'] > 120.9) ]
vehicle[(vehicle['length'] < 141.1 ) | (vehicle['length'] > 208.1) ]
vehicle[(vehicle['width'] < 60.3 ) | (vehicle['width'] > 72.3) ]
vehicle[(vehicle['height'] < 47.8) | (vehicle['height'] > 59.8) ]
vehicle[(vehicle['curb-weight'] < 1488) | (vehicle['curb-weight'] > 4066) ]
vehicle[(vehicle['engine-size'] < 61) | (vehicle['engine-size'] > 326) ]
vehicle[(vehicle['bore'] < 2.54) | (vehicle['bore'] > 3.94) ]
vehicle[(vehicle['stroke'] < 2.07) | (vehicle['stroke'] > 4.17) ]
vehicle[(vehicle['compression-ratio'] < 7) | (vehicle['compression-ratio'] > 23) ]
vehicle[(vehicle['horsepower'] < 48) | (vehicle['horsepower'] > 288) ]
vehicle[(vehicle['peak-rpm'] < 4150) | (vehicle['peak-rpm'] > 6600) ]
vehicle[(vehicle['city-mpg'] < 13) | (vehicle['city-mpg'] > 49) ]
vehicle[(vehicle['highway-mpg'] < 16) | (vehicle['highway-mpg'] > 54) ]
vehicle[(vehicle['price'] < 5118) | (vehicle['price'] > 45400) ]

Empty DataFrame
Columns: [symboling, normalized-losses, make, fuel-type, aspiration, num-of-doors, body-style, drive-wheels, engine-location, wheel-base, length, width, height, curb-weight, engine-type, num-of-cylinders, engine-size, fuel-system, bore, stroke, compression-ratio, horsepower, peak-rpm, city-mpg, highway-mpg, price]
Index: []

[0 rows x 26 columns]

In [50]:
vehicle

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,116.863874,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.000000
1,3,116.863874,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.000000
2,1,116.863874,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.000000
3,2,164.000000,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.000000
4,2,164.000000,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,-1,95.000000,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.000000
234,-1,116.863874,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.000000
235,-1,116.863874,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.000000
236,-1,95.000000,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,13696.081197
237,-1,95.000000,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,13696.081197

In [51]:
#generating a new csv file with clean data.
vehicle.to_csv("Clean_Automobile.csv")